*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
/* max-width: 1920px; */
scroll-behavior: smooth;

}

body{
background-image: url(./images/bcg.jpg);
background-size: cover;
background-position: center;
background-color: rgb(201, 20, 123);
background-blend-mode: multiply;
/* margin: 0 auto; */

}

.content {
  max-width: 1920px;
  margin: 0 auto;
}

/* NAVBAR */

.header{
background-color: transparent;
/* width: 100vw; */
/* max-width: 1920px; */
display: flex;
justify-content: space-around;
}

.menu{
margin: 2em 0;
font-size: .9rem;
}

.logo {
padding-top: 1em;
font-family: 'Archivo Black', sans-serif;
font-size: 1.5rem;
color: rgb(248, 77, 154) ;
text-decoration: underline;
margin: 0 0.25rem;
}

ul{
list-style: none; 
display: flex;
}

li{
text-align: center;
padding: 0 0.2rem;
border-right: solid rgb(248, 77, 154) .02rem;
}

span{
color:rgb(248, 77, 154);
text-decoration: underline;
}

a{
text-decoration: none;
color: rgb(6, 173, 165);
}

a:hover{
text-decoration: underline;
color: rgb(2, 255, 247);
transition: .3s;
}


/* HERO */

.hero{
height: 100vh;
text-align: center;
margin-top: 5rem;
}

.hi{
font-size: .75rem;
/* transform: translateY(2rem); */
color: rgb(239, 171, 239);
width: 75%;
margin: 0 auto;
padding-top: 1rem;
}

.hero h2{
  color: rgb(6, 173, 165);
}

.hero-btn{

  margin: 2rem;
  display: flex;
  justify-content:space-around;
}

.grid-container{
  margin: 7rem 2rem;
  font-size: 1.5rem;
  color: rgb(248, 77, 154);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1rem; 

  /* border: blue solid 4px; */
}

.grid-container .fa-brands, .grid-container .fa-solid{
  transition: transform .2s;
}
.grid-container .fa-brands:hover, .grid-container .fa-solid:hover{
  transform: scale(1.5);
}



/* ASIDE*/

.asideIcons{
display: flex;
justify-content: space-around;
flex-direction: column;
height: 40vh;
width: 2rem;
position: fixed;
top: 50vh;
left: 1rem;
/* z-index: 8; */
/* background-color: transparent; */
/* overflow-x: hidden; */
/* padding-top: 16px; */
}

.fa-brands:hover, .fa:hover, .fa-arrow-up:hover, .fa-solid:hover{
text-decoration: none;
color: rgb(2, 255, 247);
}

/* ABOUT ME */

.section /* .hero{ */{
height: auto;
text-align: center;

padding-bottom: 2rem;
}
     
.subtitle{
font-size: 1.25rem;
transform: translateY(2rem);
color: rgb(6, 173, 165);
}

.MeContainer{
max-width: 75vw;
margin: 0 auto;
}

.myPhoto{
width: 10rem;
margin: 4rem 0 2rem 0;
border: solid rgb(248, 77, 154) 4px;
}

.text{
font-size: .8rem;
text-align: justify;
align-items: center;
color: rgb(239, 171, 239);
line-height: 1.25rem;
}

/* PORTFOLIO */

.projects-container{
margin-top: 4rem;
display: flex;
flex-direction: column;
}

.projectCard{
display: flex;
align-items: center;
flex-direction: column;
margin-top: 1.25rem;
justify-content: space-evenly;

}

.projectCard img {
width: 4rem;
border: solid rgb(248, 77, 154) 3px;
}

.btn{
font-size: .9rem;
width: auto;
}

btn:hover{
color: rgb(2, 255, 247);
}

/* CONTACT*/

.contact-container{
  margin-top: 5rem;
}

.input-group{
color: rgb(2, 255, 247);
margin-top: 1rem;
font-size: .9rem;
display: flex;
justify-content: center;
}

.in-gr-nam,
.in-gr-sub,
.in-gr-ema,
#message{
background-color: rgba(6, 173, 165, 0.742);
margin-top: .25rem;
border: none;
padding: .5rem;
border-radius: 6px;
font-size: .8rem;
/* width: 50%; */
}

.button{
margin-top: 1rem;
border: solid rgb(248, 77, 154) 2px;
color: rgb(6, 173, 165);
padding: .25rem;
font-size: .9rem;
background: transparent;
border-radius: 6px;
}

.button:hover{
border: solid rgba(75, 200, 194, 0.84) 2px;

transition: .3s;
/* border-radius: 6px; */
color: rgb(2, 255, 247);
}

/* FOOTER */

footer{
background-color: black;
width: 100vw;
padding: 1.5rem 0 .5rem 0;
margin: 0 auto;
color: rgb(6, 173, 165);
text-align: center;
}

.icons{
font-size: 1rem;
margin: 1.5rem 0 2rem 0;
display: flex;
justify-content: space-evenly;
}

.copyright{
font-size: .75rem;
color: rgb(115, 39, 110);
}

/* MEDIA QUERIES */

/*  tablet */

@media (min-width:481px) {
  .header{
    
    }
    
  .menu{
    margin: 1.5em 0;
    font-size: 1.2rem;
    }
    
  .logo {
    padding-top: .5em;
    font-size: 2rem;    
    }
    
  ul{

    }
    
  li{
    padding: 0 0.5rem;
    }
 
    /* HERO */
    
  .hero{
    /* height: 100vh;
    text-align: center; */
    }
/*     
  .hi{
    font-size: 1.8rem;
    padding-top: 6rem;
    } */
    
  .hi{
    /* font-size: 1rem; */
    /*transform: translateY(2rem);*/
    /* width: 80%; */
    padding-top: 4rem;
  }

  .hero h2{
    font-size: 1.8rem;
    padding-top: 1.8rem;
  }

  .hero h4{
    font-size: 1.1rem;
    padding-top: 2rem;
  }
  
  .hero-btn .button{
    font-size: 1.1rem;
    margin-top: 8rem;
  }
  
  .grid-container{
    margin: 6rem 2rem;
    font-size: 1.75rem;
    grid-row-gap: 2.5rem; 
  }
 
    /* ASIDE*/
    
  .asideIcons{
    /* height: 40vh; */
    width: 2.2rem;
    font-size: 1.2rem;
    top: 40vh;
    }
  
    
    /* ABOUT ME */
    
    /* .section, .hero{
height: auto;  -ustawia zdj i tekst kolo siebie*/
    
         
    .subtitle{
    font-size: 1.75rem;
    }
    
    .MeContainer{
    
    }
    
    .myPhoto{
    width: 16rem;
    margin: 6rem 0 5rem 0;
    }
    
    .text{
    font-size: 1rem;
    line-height: 1.5rem;
    }
    
    /* PORTFOLIO */
    
    /* .projects-container{
    margin-top: 9rem;
    flex-direction: row;
    /* justify-content: space-evenly;
    } */
    
    .projectCard{
    margin-top: 1rem;
    margin-bottom: 1rem; /* jesli projects-container dziala (przy 100vh na section), to margin z projectCard musza byc wieksze, a karty beda ustawione w linii */
    }
    
    .projectCard img {
    width: 6rem;
    
    }
    
    .btn{
    font-size: 1rem;

    }
    
    
    /* CONTACT*/
    
    .contact-container{
    /* transform: translateY(3rem);
    } */
      margin-top: 5rem;
     
    }
    
    .input-group{
    margin-top: 1.2rem;
    font-size: .9rem;
    /* display: flex;
    justify-content: center; */
    }
    
    .in-gr-nam,
    .in-gr-ema,
    #message{
    margin-top: .25rem;
    padding: .5rem;
    border-radius: 6px;
    font-size: .8rem;
    max-width: 60%;
    }
    
    .button{
    margin-top: 2rem; 
    /* padding: .25rem; */
    font-size: 1rem;
    }
/*     
    .button:hover{
    border: solid rgb(6, 173, 165) 2px;
    } */
     
    /* FOOTER */
     
  footer{
    padding: 1.5rem 0 1rem 0;
    }
  
  .icons{
    /* font-size: 1rem; */
    margin: 1.5rem 0 4rem 0;
    }
    
  .copyright{
    font-size: .75rem;
    }
     
}



 /* desktop */
@media (min-width:1025px){

  .header{
    
  }
  
.menu{
  /* margin: 1.5em 0; */
  font-size: 1.5rem;
  }
  
.logo {
  padding-top: .4em;
  font-size: 2.5rem;    
  }
  
ul{

  }
  
li{
  padding: 0 1rem;
  }
  
span{
 
  }
  
a{
  
  }
  
a:hover{
  
  }
  
  
  /* HERO */
  
.hero, .section{
   height: 100vh;
   /* align-items: center;
  text-align: center;  */
  }
 
 .hi{
  /* font-size: 3.5rem;
  padding-top: 4rem;  */
  }
  
  .hero h2{
    font-size: 2.5rem;
    padding-top: 2rem;
  }

  .hero h4{
    font-size: 1.25rem;
    padding-top: 2.2rem;
  }
  
  .hero-btn .button{
    font-size: 1.25rem;
    margin-top: 2rem;
  }

  .hero-btn{
    max-width: 70vw;
    margin: 0 auto;
  }

  .grid-container{
    margin: 2rem 2rem;
    font-size: 1.75rem;
    grid-row-gap: 2.5rem;
    margin-bottom: 2rem;
  }
  
  
  /* ASIDE*/
  
.asideIcons{
  font-size: 1.4rem;
  left: .75rem ;
  /* top: 30vh;  */
}
  
  
  /* ABOUT ME */
   
  .section, .hero{
  margin: 0 15vw;
  }
       
  .subtitle{
  font-size: 2rem;
  margin-bottom: 5rem;
  }
  
  .MeContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4rem;
  }
  
  .myPhoto{
  width: 18rem;
  }
  
  .text{
  font-size: 1.25rem;
  margin-left: 2rem;
  }
  
  /* PORTFOLIO */
  
  .projects-container{
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 9rem;
  }
  
  .projectCard{
  margin-top: 3rem;
  /* margin-bottom: 9rem; */
  }
  
  .projectCard img{
  width: 8rem;
  }
  
  .btn{
  font-size: 1.25rem;
  }

  /* CONTACT*/
  
  .contact-container{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 4rem;
  }
  
  .input-group{
  margin-top: 3rem;
  font-size: 1.2rem;
  }
  
  .in-gr-nam,
  .in-gr-ema,
  #message{
  /* margin-top: .25rem;
  padding: .5rem;
  border-radius: 6px; */
  font-size: 1rem;
  max-width: 100%;
  }
  
  .button{
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: .5rem;
  font-size: 1.2rem;
  border: solid rgb(248, 77, 154) 3px;
  }

  .button:hover{
  border: solid rgb(6, 173, 165) 3px; 
  }
  
  /* FOOTER */
  
  footer{
  font-size: 1.25rem;
  }

  .icons{
  font-size: 1.25rem;
  margin: 2rem 0 2rem 0;
  /* padding: 2rem 20vw; */
  }
  
  .copyright{
  font-size: .9rem;
  }
  
}
